/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Jan-2015, 23:04:12
    Author     : Harvey
*/

body {
    font: 80% "Trebuchet MS", sans-serif;
    /*    margin: 20px;*/
}

.ui-layout-unit{
    border: 0;
}

.ui-layout-unit .ui-layout-unit-content {
    padding: 0.2em 0em;
    border: 0px none;
    overflow: hidden !important;
}


li {
    list-style-type: none;
    padding-bottom: 10px;
}

ul li{
    float: left;
}
ul{
    padding-left: 0px;
    clear: left;
}

.pads{padding-left: 30px}

.buttonpad{
    margin-left: 20px;
}
.multiplesselectcolwidth{
    width: 20px;
}
.textWidth{width: 242px;}
.inputtextareawidth{
    width: 248px;
    height: 80px;
}
.requiredfield{
    color: red; 
    font-size: 11px;
}
.inputheader{
    font-size: 11px;
}

.ui-button{
    border-radius: 3px;
    height: 33px;
    background: bisque;
}

/*.ui-corner-all{
    border-radius: 3px;
}*/

.ui-panel .ui-panel-content{padding: 0; }
.ui-panegrid{border-collapse: collapse;}
.ui-panelgrid .ui-panelgrid-cell{
    border-style: hidden;
}
.ui-autocomplete-input{
    width: 242px
}
.ui-autocomplete-panel{
    width: 230px
}
.ui-autocomplete-list-item{
    width: 230px;
}
.ui-layout-unit-content{
    height: auto;
}

.ui-selectonemenu-list-item{
    width: 230px;
}
.ui-selectonemenu-items-wrapper{
    width: 250px
}

.topbuttons{
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.bottombuttons{
    margin-right: 20px; 
    margin-top: 10px; 
}

.ui-tabs .ui-tabs-panel {
    padding: 0px;
    background-color: inherit;
}
/*            .ui-tabs-panel .ui-widget-content{
                border:0;
                background-color: inherit;
            }*/
.ui-menubar .ui-widget-content ui-corner-all ui-helper-clearfix{

}
.ui-tabs-panel .ui-widget-content{
    border:0;
    background-color: bisque;
    background-image: none;
}
.ui-tabs-nav .ui-state-active{
    background: bisque;
    border: 1px solid bisque;
}
/*            .ui- .ui-corner-all{
                -webkit-border-radius: 0;
                border-radius: 0;
            }*/
.ui-tabs.ui-tabs-top > .ui-tabs-nav{
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-menuitem .ui-state-hover{
    background: #CC0606;
}
/*            .ui-tabs-panel .ui-state-active {
                background-color: bisque;
}*/.ui-state-default.ui-tabs-selected.ui-state-active.ui-corner-top{
    background-color: bisque;
}
.bgimage{
    background: transparent url("/PrimeFaces/images/banner.png") no-repeat center;
    border-radius: 12px 12px 0px 0px;
    padding: 0; margin: 0;
    /*                border: 0;*/
}

.bgimag{
    background: transparent url("/PrimeFaces/images/footer.png") no-repeat center;
    border-radius: 0px 0px 12px 12px;
    padding: 0; margin: 0;
    /*                border: 0;*/
}
.ui-widget-header{
    background: #cc0000 url("/PrimeFaces/images/footer.png") 50% 50% repeat-x
}

